.sec-1 {
  width: 100%;
  animation: 1s cubic-bezier(0.66, 0, 0.34, 1) 0s 1 secload;
  background-color: #ef7722;
}
.sec-1 .sec-pic-1 {
  width: 50%;
  height: inherit;
  background-color: green;
}
.sec-pic-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-1 .sec-dec-1 {
  width: 50%;
  height: inherit;
}
.sec-dec-1 h3 {
  user-select: none;
}
.sec-dec-1 table tr {
  border: 1px #ebebeb solid;
  transition: 300ms linear;
  direction: rtl;
  color: #ebebeb;
  user-select: none;
}
.sec-but-1 {
  background-color: #ebebeb;
  color: black;
  border: 1px solid #ebebeb;
  transition: 300ms linear;
  cursor: pointer;
  user-select: none;
}
.sec-but-1:hover {
  background-color: #ef7722;
  border: 2px solid white;
  color: white;
}
.dec-title {
  color: #ebebeb;
}

@keyframes secload {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
hr {
  width: 98%;
  margin: 0 auto;
  background-color: gray;
}
