.swiper {
  width: 100%;
  height: 830px;
  position: absolute;
  top: 0;
}
.swiper-slide {
  width: 300px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.button-swiper .swiper-button-next {
  background-color: red;
}
.swiper-button-prev {
  width: 10px;
  height: 10px;
}
