.wrapper {
  height: 100%;
  position: absolute;
  top: 0;
}
.wrapper img {
  width: inherit;
  height: inherit;
}
.wrapper .dec {
  width: 40%;
  font-family: yekan;
  margin-top: 20%;
  animation: 1500ms cubic-bezier(0.66, 0, 0.34, 1) 0s 1 decanim;
}
.dec h1 {
  line-height: 70px;
  user-select: none;
}
.dec h2 {
  user-select: none;
}

.button {
  cursor: pointer;
  border: 1px solid white;
  user-select: none;
}
.decanim {
  animation-name: sendup;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}
@keyframes decanim {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
