.address {
  width: 40%;
  height: 100%;
  background-color: #0ba6df;
  color: white;
}
#add {
  direction: rtl;
}
.menuss {
  width: 60%;
  height: 100%;
  position: relative;
  /* background-color: #fef3e2; */
  background-color: #ebebeb;
  color: black;
}
.title {
  position: absolute;
  right: 70px;
  top: 130px;
}
.contactt {
  width: 20%;
  height: 40%;
  /* background-color: green; */
  direction: rtl;
  margin-top: 200px;
}
.aboutt {
  width: 20%;
  height: 40%;
  /* background-color: darkviolet; */
  direction: rtl;
  margin-top: 200px;
}
.productt {
  width: 20%;
  height: 40%;
  /* background-color: red; */
  direction: rtl;
  margin-top: 200px;
}
.blogg {
  width: 20%;
  height: 40%;
  /* background-color: purple; */
  direction: rtl;
  margin-top: 200px;
}
nav {
  width: 100%;
  height: 200px;
}

ul p {
  margin-bottom: 10px;
  font-size: 15px;
}
ul li a {
  font-size: 13px;
}
ul li a div {
  display: none;
  width: inherit;
  direction: rtl;
  background-color: black;
}
.menu-line-active1 {
  display: flex !important;
  animation-name: menu-active-line;
  animation-timing-function: cubic-bezier(0.85, 0.09, 0.15, 0.91);
  animation-duration: 300ms;
  transform-origin: right;
  animation-iteration-count: 1;
}
.menu-line-not1 {
  animation-name: menu-deactive-line;
  animation-timing-function: cubic-bezier(0.85, 0.09, 0.15, 0.91);
  animation-duration: 300ms;
  animation-iteration-count: 0.5;
  transform-origin: left;
}
@keyframes menu-deactive-line {
  0% {
    transform: scaleX(1);
    display: flex;
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    display: none !important;
  }
}

@keyframes menu-active-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.info {
  bottom: 0;
}
.social {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: start;
  direction: rtl;
  align-items: center;
  font-size: 35px;
  position: absolute;
  bottom: 60px;
  right: 50px;
  padding-right: 30px;
}
.itemm:hover {
  cursor: pointer;
  color: gray;
  transition: 300ms ease-in-out;
}
